@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: rgb(27, 158, 27);
  display: flex;

  justify-content: center;
  align-content: center;
  height: 100vh;
}

.card {
  display: flex;
  height: 28rem;
  width: 22rem;
  background-color: white;
  border-radius: 0.4rem;
  border-width: 20px;
  border: rgb(12, 3, 3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.num {
  font-size: 150px;
  font-weight: bold;
  text-shadow: -2px 1px 9px rgb(54, 41, 41);
  align-items: center;
}

.suitup {
  position: relative;
  top: 30px;
  right: 135px;
  font-size: 100px;
  text-shadow: -2px 1px 9px black;
  margin: 1rem;
  align-content: flex-start;
}

.suitdown {
  position: relative;
  bottom: 30px;
  left: 135px;
  font-size: 100px;
  text-shadow: -2px 1px 9px rgb(54, 41, 41);
  margin: 1rem;
  align-items: right;
  transform: rotate(180deg);
}

.color1 {
  color: black;
}

.color2 {
  color: red;
}

.btn {
  background-color: rgb(84 16 131);
  width: 150px;
  height: 150px;
  color: #814715;
  font-weight: 10px;
  text-shadow: 1px -6px 9px #fdfdfd;
  border: white;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  font-size: xx-large;
}

.input {
  margin: 3rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  justify-content: end;
  align-self: center;
}

.interactions {
  background: currentColor;
  padding: 2rem;
  justify-content: center;
  align-content: center;
}
